/*
 * File name: terms.css
 * Author: Jill Lin
 * Course: CST8285 – 311
 * Assignment: Assignment 2
 * Due Date: 12-04-2022
 * Professor: Abul Qasim
 * Purpose: This file is the css for terms.php.
 */

body {
    color: aliceblue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

main {
    max-width: 1080px;
    margin: 0 auto;
  }

h1 {
    font-size: 24pt;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

p{
    max-width: 1080px;
    line-height: 150%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    font-size: 14pt;
    text-align: left;
}

